.form {
  padding: 15px 15px 50px;
  background-color: #f0f2f9;
}

.form__input,
.form__text,
.form__select {
  width: 100%;
  padding: 17px;
  color: #b3b3b3;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  background-color: #ffffff;
  box-sizing: border-box;
}

.form__input--address {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff42c;
}

.form__legend,
.form__label {
  color: #757575;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.form__field {
  margin: 0;
  padding: 0;
  border: none;
}

.form__option {
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.form__notice {
  color: #898989;
  font-size: 12px;
  font-weight: 300;
}

.form__button {
  margin-top: 7px;
  padding: 17px 38px;
  color: #103885;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;

  &--feedback {
    color: #f0f2f9;
    background-color: #123885;
  }
}

.form__container {
  margin-bottom: 12px;
}

@media (min-width: $min-desktop-width) {
  .form__button {
    color: #123885;
    font-size: 18px;
    line-height: 20px;

    &--feedback {
      color: #123885;
      background-color: transparent;
    }
  }
}
