.news {
  padding: 42px 32px 20px 22px;
}

.news__switch {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 26px;
  text-align: center;
}

.news__tab {
  color: #c0c0c0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  background-color: #eff2f9;

  &--active {
    color: #123885;
    border-bottom: 4px solid #fff200;
  }
}

.news__list {
  @include reset-list;
}

.news__item {
  display: none;

  &:nth-child(2) {
    display: block;
  }
}

.news-item__header {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  color: #123885;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.news-item__text {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  color: #343434;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}

.news-item__date {
  margin: 0;
  padding: 0;
  color: #c0c0c0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.news__button {
  display: none;
}

@media (min-width: $min-desktop-width) {
  .news__tab {
    font-size: 26px;
    line-height: 16px;
  }

  .news-item__header {
    font-size: 18px;
    line-height: 22px;
  }

  .news-item__text {
    font-size: 16px;
    line-height: 22px;
  }

  .news-item__date {
    font-size: 14px;
    line-height: 16px;
  }

  .news__button {
    display: block;
    color: #123885;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    background-color: transparent;
    border: 3px solid #123885;
  }
}
