.offers {
  padding-top: 42px;
  background-color: #eff2f9;
}

.offers__header {
  width: 200px;
  margin: 0 auto;
  color: #002672;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include reset-list;
  padding: 0 12px 0 10px;
  margin-bottom: 15px;
}

.offers__item {
  position: relative;
  width: 62px;
  padding-top: 95px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    width: 62px;
    height: 62px;
    background-color: #123885;
    border-radius: 50%;
  }

  &--active::before {
    background-color: #fff200;
  }

  &::after {
    content: "";
    position: absolute;
    top: 45px;
    left: 12px;
    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--retail::after {
    width: 35px;
    height: 30px;
    background-position: -10px -71px;
  }

  &--wifi::after {
    width: 37px;
    height: 27px;
    background-position: -10px -34px;
  }

  &--call-centers::after {
    top: 40px;
    left: 17px;
    width: 30px;
    height: 30px;
    background-position: -10px -111px;
  }

  &--logistics::after {
    top: 45px;
    left: 10px;
    width: 41px;
    height: 24px;
    background-position: -10px 0;
  }
}

.offers__link {
  color: #6e6e6e;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;

  &--active {
    color: #123885;
  }
}

@media (min-width: $min-desktop-width) {
  .offers__header {
    font-size: 36px;
    line-height: 38px;
    font-weight: 700;
  }

  .offers__link {
    font-size: 18px;
    line-height: 40px;
    border-bottom: 1px dotted #c9c9c9;

    &--active {
      border-bottom: none;
    }
  }
}
