.user-nav {
  display: flex;

  @include reset-list;
}

.user-nav__item {
  position: relative;
  width: 62px;
  height: 34px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    border: 2px solid rgba(126, 173, 235, 0.2);
    border-radius: 50%;
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    border-color: #fff200;
    background-color: #fff200;
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--user::after {
    width: 17px;
    height: 19px;
    background-position: -10px -210px;
  }

  &--fb::after {
    width: 20px;
    height: 21px;
    background-position: -10px -151px;
  }

  &--search::after {
    width: 18px;
    height: 18px;
    background-position: -10px -182px;
  }
}
